html, body {
    height: 100%;
    margin: 0;
    font-size: 20px;
}
div {
    height: auto;
    position: absolute;
    left: 140;
}
p {
    margin-left: 10px;
}
#menu {
    width: 140px;
    height: 100%;
    position: fixed;
    outline: 1px solid;
    background: red;
    left:0;
}

#workspace {
    padding-left: 10px;
    width: 90%;
    height: 100%;
    outline: 1px solid;

}

#graph {
    padding-top: 100px;
}

.menuButton {
    width: 100%;
    height: 5%;
    position: relative;
    outline: 1px solid;
    background: red;
    left:0;
}

.arc text {
    font: 10px sans-serif;
    text-anchor: middle;
}

.arc path {
    stroke: #fff;
}


.bar {
    fill: steelblue;
}

.bar:hover {
    fill: brown;
}

.axis {
    font: 15px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.x.axis path {
    display: none;
}
