
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    background: lightgray;
}

.container {
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
    width: 1024px;
}

#menu {
    width: 100%;
    height: auto;
    background: darkred;
    display: block;
    color: gold;
}

#menu h1 {
    text-align: center;

}

#menu .menuButton {
    align-content: center;
    text-anchor: bottom;
    width: 13.93%;
    display: inline;
    background: goldenrod;
    border: transparent;
    font-weight: 600;
}

#menu .menuButton:hover {
    background: lightgoldenrodyellow;
}

#workspace {
    background: lightgray;
    display: inline-block;
    width: 100%;
    position: relative;
}

#workspace select {
    min-width: 20%;
    background: white;
}

.arc text {
    font: 15px sans-serif;
    text-anchor: middle;
}

.arc path {
    stroke: #fff;
}

.arc text {
    font-weight: 600;
}

.bar {
    fill: rgba(145, 0, 0, 0.8);
}

.bar:hover {
    fill: goldenrod;
}

.axis {
    font: 15px sans-serif;
}

.x-axis, .y-axis {
    font: 14px sans-serif;
    font-weight: 600;
}

.x-axis {

}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.x.axis path {
    display: none;
}
