
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
    width: 1280px;
}

#menu {
    width: 100%;
    height: auto;
    background: darkred;
    display: block;
    color: gold;
}

#menu h1 {
    text-align: center;

}

#menu .menuButton {
    width: auto;
    height: auto;
    display: inline-block;
    background: darkgoldenrod;
    border: transparent;
}

#menu .menuButton:hover {
    background: goldenrod;
}

#workspace {
    background: goldenrod;
    display: inline;
    position: relative;
}

#workspace select {
    min-width: 20%;
    background: lightgray;
}

.arc text {
    font: 15px sans-serif;
    text-anchor: middle;
}

.arc path {
    stroke: #fff;
}

.bar {
    fill: darkred;
}

.bar:hover {
    fill: goldenrod;
}

.axis {
    font: 15px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.x.axis path {
    display: none;
}
